* {
  text-decoration: none;
  width = 100%;
  margin :0;
  padding: 0;
  line-height: 50px
}

header {
  background-color: #fff;
  width: 100%;
  height: 100px;
}

header .header-brand {
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 900;
  color: black;
  display: block;
  text-align: center;
  padding-top: 10px;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li{
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0px 16px;
}

header nav ul li a {
  font-family: Catamaran;
  font-size: 20 px;
  font-weight: 600;
  color: #848181;
}

header nav ul li a:hover {
  color: pink;
}

.index-banner {
  width: 100%;
  height: 30vh;
  /*height: calc(100vh - 100px);*/
  background-image: url("img/cover.JPG");
  border-radius: 50px 50px 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.index-banner:hover {
  background-image: url("img/IMG_1132.JPG");
}

.index-banner h2 {
  font-size: 1.3vw;
  color: #848181;
  line-height: 1.3vw;
  padding: 10vh 10vw;
}

.index-banner h1 {
  font-size: 8vw;
  font-family: Helvetica;
  font-style: italic;
  color: #848181;
  padding-top: 150px;
  text-align: center;
}

.info1 {
  width: 30%;
  height: 20vh;
  float: left;
  margin-left: 10vw;
  margin-top: 30px;
  /*height: calc(100vh - 100px);*/
}

.info1 h3 {
  margin-left: 0px;
  width: 100%;
  font-weight: 300%;
  font-size: 20px;
  color: black;
  line-height: 20px;
}

.info1 p {
  width: 100%;
  font-size: 15px;
  color: grey;
  line-height: 15px;
}

.info2 {
  width: 30%;
  height: 20vh;
  float: right;
  margin-right: 10vw;
  margin-top: 30px;

}

.info2 h3 {
  margin-left: 0px;
  width: 100%;
  font-weight: 300%;
  font-size: 20px;
  color: black;
  line-height: 20px;
}

.info2 p {
  width: 100%;
  font-size: 15px;
  color: grey;
  line-height: 15px;
}

.photos {
  margin-top: 30px;
  margin-left: 5vw;
  margin-right: 1vw;
}
